<%- include("header") -%>

<div class="heading">
  <h1>NITH Previous Papers<br/><p>                 Select your branch</p></h1>
</div>
<hr style="margin: 0;width:100%;height:0.5px;border-width:0;color:gray;background-color:black;opacity:0.5">
  <div class="flex-container">
    <button>CSE</button>
    <button>ECE</button>
    <button>EE</button>
    <button>MECH</button>
    <button>CIVIL</button>
    <button>CHEMICAL</button>
    <button>MAT. SCIENCE</button>
    <button>EP</button>
    <button>MNC</button>
    <button>ARCH</button>
  </div>

<%- include("footer") -%>
