<%- include("header") -%>

<div class="heading">
  <h1>NITH Previous Papers<br/><p>                 Select your Year</p></h1>
</div>
<hr style="margin: 0;width:100%;height:0.5px;border-width:0;color:gray;background-color:black;opacity:0.5">
  <div class="flex-container">
    <button style="height: 64px;">1st Year</button>
    <button style="height: 64px;">2nd Year</button>
    <button style="height: 64px;">3rd Year</button>
    <button style="height: 64px;">4th Year</button>
    <button style="height: 64px;">5th Year</button>
  </div>

<%- include("footer") -%>
